@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cherry+Bomb+One&family=Lexend:wght@200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300&display=swap');

:root{
  /* Font Families */
  --fontAntonRegular:'Anton', sans-serif;
  --fontCherryBombRegular:'Rubik Vinyl', cursive;
  --fontLexendRegular:'Lexend', sans-serif;

  /* Font Weights */
  --weightRegular: 400;
  --weightExtralight: 200;
  --weightBold: 700;
  --weightBlack: 900;
  --weightExtralight300:300;

  /* Colors  */
  --color-bg:#f5f7ee;
  --color-alternate-text:#d6734e;
  --color-text-extralight:#ffffff;
  --color-button:#fdd9c6;

}
html{
  font-family: var(--fontLexendRegular);
}
body{
  background-color: var(--color-bg);
  overflow: hidden;
}
img{
  max-width: 100%;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.header{
  background-image:linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.4)),url("/img/brand.jpg");
  min-height: 90vh;
  background-position: center;
  background-size: cover;
  padding:1rem ;
  
  
}
.container{
  width: 80%;
  margin: 0 auto;
}
.navbar{
  display: flex;
  overflow: hidden;
  padding-bottom: 19rem;
  
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.navbar h2{
  font-family: var(--fontCherryBombRegular);
  color:rgb(239, 225, 225);
  font-size: 45px;
}
.alternate-text{
  color:var(--color-alternate-text)
}
.navbar-links ul{
  /* display: none; */
  display: flex;
  justify-content: space-around;
  width: 700px;
  max-width: 700px;
  gap:3rem;
  padding: 1rem;
  border-radius: 25px;
  background-color: #f5f7ee;
  
}
.navbar-links ul li{
  list-style-type: none;
}
.navbar-links ul li a{
  text-decoration: none;
}
.navbar-right-icons{
   display: flex;
   align-items: center; 
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  gap: 10px;
  border-radius: 10px;
}
.hamburger-menu{
  display: none;
}
@media screen and (max-width:1380px){
  .navbar-links ul{
    display: none;
  }
  .hamburger-menu{
    display: block;
    border-radius: 10px;
    text-align: center;
  }
  .navbar h2{
    font-size: 30px;
  }

}

.brand-tags{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-self: flex-start;

}
.location-extralight{
  color: var(--color-text-extralight);
  font-family: var(--fontLexendRegular);
  font-weight: var(--weightExtralight);
  color: #e1ad9c;
}
.location-extralight span{
  font-weight: var(--weightExtralight300);
}
.brand-tag h1{
  font-family: var(--fontLexendRegular);
  font-weight: var(--weightBlack);
  font-size: 50px;
  color: var(--color-text-extralight);
}
.brand-tag h1 span{
  color: black;
}
.button button{
  padding: 0.5rem 1rem;
  background-color: var(--color-button);
  outline: none;
  border: none;
  border-radius: 15px;
  font-weight: var(--weightBold);
  letter-spacing: 1px;
  transition: 0.5s ease-out;
}
.button button:hover{
  background-color: lightpink;
  cursor: pointer;
}
.about-section{
  position: relative;
}
.about{
  position: absolute;
  top: -50px;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  width: 100%;
}
.about h1{
  text-align: center;
  font-size: 48px;
  line-height: 1.5;
}
.about p{
  width: 700px;
}
.about-right-img img{
  width: 400px;
  height: 400px;
}
.flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}


